<div id="profile_register_button" class="profile-register-button">
  <a name="register"><%=t.profile_dropdown.register.label%></a>
</div>
<script type="text/javascript">
  require(['jquery'], function($) {
    $('#profile_register_button a').bind('click',
    	function(){
    	  $('#profile_dropdown').show();	
    	  $('.register-button a').trigger('click');
    	})
  }); 
</script>