<div class="content bg-white text-center pulldown overflow-hidden">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="font-s128 font-w300 text-city animated flipInX"><h2><%= t.change_password.title %></h2></h1>
                    <h2 class="h3 font-w300 push-50 animated fadeInUp"><p><%= t.change_password.password_updated %></p></h2>
                </div>
            </div>
        </div>
</div>        
