<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">

    <p>Los <em>grupos de usuarios</em> le permite organizar los usuarios de su sitio en diferentes categorías, de manera que pueda definir accesos a contenidos o aplicaciones a determinados usuarios, así como conocer qué usuarios pertenecen a un determinado grupo.</p>

</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:15%">Group</th>
         <th class="table-header-title" scope="col" style="width:35%">Name</th>
         <th class="table-header-title" scope="col" style="width:50%">Description</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell"><%%= entity.group %></td>
      <td class="table-cell"><%%= entity.name %></td>
      <td class="table-cell"><%%= entity.description %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><span class="entity-fieldlabel">Group</span> <span class="entity-fieldvalue"><span class="entity-id"><%%= entity.group %></span></span> </div>
       <div class="entity-field"><span class="entity-fieldlabel">Name</span> <span class="entity-fieldvalue"><%%= entity.name %></span> </div>
       <div class="entity-field"><span class="entity-fieldlabel">Description</span> <span class="entity-fieldvalue"><%%= entity.description %></span> </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="top-navigation-bar navigation-bar">
             <h2 class="form-title">User group</h2>
             <div class="navigation-bar-nav-buttons">
             </div>
        </div>        

        <div class="form-fields">
        
          <div class="formrow">
            <label for="username" class="fieldtitle">Group <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="32" id="group" name="group" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.group %>" <%% } %> />
          </div>
        
          <div class="formrow">
            <label for="fullname" class="fieldtitle">Name</label>
            <input type="text" maxlength="80" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %>/>
          </div>
          
          <div class="formrow">
            <label for="description" class="fieldtitle">Description</label>
            <textarea name="description" id="description" class="fieldcontrol"><%% if (entity) { %> <%%= entity.description %> <%% } %></textarea>
          </div>
          <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>
                
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-nav-buttons">
                <input type="button" class="cancel-entity-button action-button entity-management-button" value="Cancel"/>
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="Update"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="Create"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
  function UserGroupHook() {
 	   
    this.entityKey = function(entity) {
      return entity.group;
    }

    this.onEdit = function(entity) {
      $('#group').attr('readonly', true);
      $('#name').focus();  
      this.configForm();	
    };
  
    this.onNew = function() {
  	  $('#group').focus();
  	  this.configForm();
    }
    
    this.configForm = function() {
    
         YsdForms.limit_text_area_content_size(document.getElementById('description'), 256, 
            function (content_remain) {
              document.getElementById('description_length').innerHTML = '<strong>' + content_remain + '</strong>';
            }
         );    
    	
    }
  	
  };
  
  var urls = { 
  	           query_url  : '/usergroups',
    	       create_url : '/usergroup',
  	           update_url : '/usergroup',
  	           delete_url : '/usergroup',
  	           get_url    : '/usergroup'
  	         };
  
  var userGroupHook = new UserGroupHook();
  var userGroupManager = new EntityManagement(urls, 'user group', 12, userGroupHook);
 
  $('.entity-title').html('User groups');
  
</script>
